#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	babeljs lib -d dist
	webpack --config debian/webpack.config.js --mode development \
	--entry ./lib/es6-promise.js --output-path ./dist-web \
	--output-filename ./es6-promise.js --target web
	terser dist-web/es6-promise.js -o dist-web/es6-promise.min.js
